<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="KarateSchoolConnectionString" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\mitch\\source\\repos\\orange-vw\\Karate-School\\App_Data\\KarateSchool.mdf;Integrated Security=True;Connect Timeout=30"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
</configuration>
